.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: #dadbd3;
  background-image: url("https://img.freepik.com/free-vector/abstract-background-with-gradient-shapes_23-2148705497.jpg?size=626&ext=jpg&ga=GA1.2.1265595294.1611014400");
}
.app__body {
  display: flex;
  background-color: #ededed;
  margin-top: -50px;
  height: 90vh;
  width: 90vw;
  background: linear-gradient(
    116.2deg,
    rgba(255, 255, 255, 0.39) 0.76%,
    rgba(255, 255, 255, 0.48) 100%
  );
  backdrop-filter: blur(100px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 30px;
}
